<title>A simple dashboard</title>
<h1>Total number of the collected repositories</h1>
<h3>Python: {{PythonCount}}</h3>
<h3>Java: {{JavaCount}}</h3>
<h3>Csharp: {{CsharpCount}}</h3>

<h1>Number of the collected repositories with changes pushed during the last 60 seconds</h1>
<img src={{url2}} alt="Webapp" height="auto" width="50%">
<h1>Average number of stars</h1>
<img src={{url}} alt="Webapp" height="auto" width="50%">

<h1>Top-10 Most frequent words:</h1>
<h3>Python: {{PythonWords}}</h3>
<h3>Java: {{JavaWords}}</h3>
<h3>Csharp: {{CsharpWords}}</h3>



